/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 25px auto;
}

/* *** header *** */
.page-header {
    width: 100%;
}

#logo {
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

li {
    height: 50px;
    line-height: 50px;
    list-style: none;
    color: #9b9b9b;
    font-size: 20px;
    text-transform: uppercase;
}

.mr {
    margin-right: 20px;
}

.jumbotron {
    height: 600px;
    width: 100%;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.margin {
    margin-bottom: 20px;
}

/* *** main *** */
main    {
    background-color: #0086ff;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-heading {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
}

.cl-sx, .cl-dx {
    width: 20%;
}

.left {
    float: left;
}

.main-content {
    width: 58%;
    margin: 0 1%;
}


/* *** footer *** */
.footer {
    height: 70px;
}

/* *** debug *** */
.debug .page-header {
    height: 200px;
    background-color: #e579e6;
}

.debug .jumbotron {
    background-color: #e1d67a;
}

.debug .main-heading {
    background-color: #abcfe7;
    height: 100px;
}

.debug .left, 
.debug .main-content, 
.debug .widget {
    background-color: #abcfe7;
    height: 700px;
}

.debug .footer {
    background-color: #8801fe;
}

