/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 25px auto;
}

/* *** header *** */
.page-header {
    width: 100%;
    height: 200px;
    background-color: #e579e6;
}

.jumbotron {
    width: 100%;
}

.margin {
    margin-bottom: 20px;
}

/* *** main *** */
main    {
    background-color: #0086ff;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-heading {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
}

.sidebar, .widget {
    width: 20%;
}

.left {
    float: left;
}

.main-content {
    width: 58%;
    margin: 0 1%;
}


/* *** footer *** */
.footer {
    height: 70px;
}

/* *** debug *** */
.debug .jumbotron {
    height: 500px;
    background-color: #e1d67a;
}

.debug .main-heading {
    background-color: #abcfe7;
    height: 100px;
}

.debug .left, 
.debug .main-content, 
.debug .widget {
    background-color: #abcfe7;
    height: 700px;
}

.debug .footer {
    background-color: #8801fe;
}